<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058957740478-rp4qsb9eh580tipog7dh701b6g2b5s68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058957740478-rp4qsb9eh580tipog7dh701b6g2b5s68</string>
	<key>API_KEY</key>
	<string>AIzaSyD6ejy-Uu_nNp0xuBybK8SFSK5iPKoLUDk</string>
	<key>GCM_SENDER_ID</key>
	<string>1058957740478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-78d8b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-78d8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058957740478:ios:47244d7b3a3e51019f91ef</string>
</dict>
</plist>